<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create</title>
</head>
<body>
    <h1>Create</h1>
    <form>
        <label for="filename">Filename</label> <input name="filename" id="filename" type="text">
        <textarea name="content" cols="30" rows="10"></textarea>
    </form>
</body>
</html>